# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
https_client

# Debug symbols
https_client.dSYM/

# Conan specifics
conan.lock
conanbuildinfo.args
conanbuildinfo.txt
conaninfo.txt
graph_info.json
